{{ block "index" . }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>

<body>
    <div id="count">
        {{ template "count" .count }}
    </div>
    <button hx-target="#count" hx-post="/count">Increment</button>
    {{ template "form" . }}
    <hr>
    {{ template "formResult" .data }}
    
    <script>
        document.addEventListener("DOMContentLoaded",  (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if(evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.datail.isError = false;
                }
            });
        })
    </script>
</body>

</html>
{{ end }}

{{ block "count" .}}
    Count {{ .Counting }}
{{ end }}

